<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet"/>

</head>
<body>
    
    <div class="flex">
        <div class="sidebar">

            <div class="box1">
                <div class="flex" id="b1">
                    <img src="{{url_for('static', filename='images/scan-img.png')}}" alt="">
                    <div class="b1-content">
                        <h3 style="font-size: 25px;">AI Attendance</h3>
                        <p>Teacher Portal</p>
                    </div>
                </div>
                
            </div>

            <div class="box1">
                <div class="flex" id="b1">
                    <h1 class="initial">
                        {{ session["user_name"].strip()[0].upper() }}
                    </h1>
                    <div class="b1-content">
                        <h3 style="font-size: 25px;">{{user_name}}</h3>
                        <p>Staff</p>
                    </div>

                </div>
            </div>

            <ul>
                <li class="{% if request.path == '/dashboard_staff' %}active{% endif %}">
                <a href="/dashboard_staff"><i class="ri-pages-line"></i>Dashboard</a>
                </li>

                <li class="{% if request.path == '/start_lec' %}active{% endif %}">
                <a href="/start_lec"><i class="ri-camera-4-line"></i>Start Attendance</a>
                </li>

                <li class="{% if request.path == '/overview' %}active{% endif %}">
                <a href="/overview"><i class="ri-calendar-line"></i>Overview Attendance</a>
                </li>

                <li class="logout">
                <a href="/logout"><i class="ri-logout-box-r-line"></i>LogOut</a>
                </li>

            </ul>

        </div>

        <div class="fake"></div>

        <div class="mobile-header">
            <button class="menu-btn" onclick="toggleSidebar()">
                <i class="ri-menu-line"></i>
            </button>
        </div>
        <div class="main">
            
            {% block content %}

            {% endblock %}
        </div>
    </div>



    
    <script>

    function toggleSidebar(){
        document.querySelector(".sidebar").classList.toggle("active");
    }

    </script>
</body>
</html>