{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script src="{{ url_for('static', filename='js/core.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

<div class="dashboard-container">

    <div class="dashboard-header">
        <h1>Welcome back {{user_name}}!</h1>
        <p>Here is your Attendance overview for today</p>
    </div>

    <div class="stats">

        <div class="card">
            <div class="card-title">Today's Status</div>
            <div class="status-present">Present</div>
            <div class="card-sub">Marked at 9:05 AM</div>
        </div>
        
        <div class="card">
            <div class="card-title">Attendance Rate</div>
            <div class="status-present">{{percentage}}%</div>
            <div class="card-sub">+2.5% from last month</div>
        </div>

        <div class="card">
            <div class="card-title">Total Classes</div>
            <div class="status-present">{{total_lec}}</div>
            <div class="card-sub">This Semester</div>
        </div>

        <div class="card">
            <div class="card-title">Classes Attended</div>
            <div class="status-present">{{attended_lec}}</div>
            <div class="card-sub">{{missed}} classes missed</div>
        </div>

        

    </div>

    <div class="stats">

        <div class="card">
            <h2>Weekly Attendance</h2>
            <canvas id="attendanceChart"></canvas>
        </div>

        <div class="card">
            <h2>Subject-wise Attendance</h2>
            <canvas id="subjectChart"></canvas>
        </div>
    </div>


        <div class="card" id="attendanceWarning">
            <h3>Attendance Status</h3>
            <p id="warningText"></p>
        </div>



</div>

<script id="dashboard-data" type="application/json">
{{ {
    "percentage": percentage,
    "attended": attended_lec,
    "total": total_lec
} | tojson }}
</script>




{% endblock %}